#Folders
[Bb]uild/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

#Un-ignore these specific files
#!Library/*.asset
#!Library/AssetImportState
#!Library/AssetVersioning.db
#!Library/BuildPlayer.prefs
#!Library/ScriptMapper
#!Library/AssetServerCacheV3
#!Library/expandedItems
#!Library/guidmapper
#!Library/metadata/

# OS Junk
[Tt]humbs.db
.DS_Store

#Project/User Preference Files
*.sln
*.csproj
*.pidb
*.userprefs
*.user
*.unityproj
*.suo

iaj.sublime-project
iaj.sublime-workspace
original/

