#Folders
[Bb]uild/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/

# OS Junk
Thumbs.db
.DS_Store
thumbs.db

#Project/User Preference Files
*.sln
*.csproj
*.pidb
*.userprefs
*.user
*.unityproj
*.suo

iaj.sublime-project
iaj.sublime-workspace
original/

